.cache
.codelite
Debug
/Codelite_Workspace/compile_commands.json
/Codelite_Workspace/SampleDemo1.txt
*.o
*.a
*.exe
*.bak
*.bak_
/Codelite_Workspace/Makefile
/Codelite_Workspace/SampleDemo1.mk
/Codelite_Workspace/test_runner_lt.txt
/Codelite_Workspace/test_runner_lt.mk
/lib/lightest/include/lightest/lightest-0.h
/lib/lightest/include/lightest/lightest-1.h
/lib/lightest/include/lightest/lightest-2.h
/lib/lightest/include/lightest/lightest-3.h
/lib/lightest/include/lightest/lightest-4b.h
/lib/lightest/include/lightest/lightest-5.h
/lib/lightest/include/lightest/lightest-6.h
.vscode
.pio
*.d
